<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>leftNumberView</key>
	<string>0x52565D</string>
	<key>FlashAgainstConversionColor</key>
	<string>0x52565D</string>
	<key>selectbuttoncolor</key>
	<string>0x6F99EC</string>
	<key>tabbarcolor</key>
	<string>0xCFD7E6</string>
	<key>tabbarselectcolor</key>
	<string>0xFFFFFF</string>
	<key>whiteblackColor</key>
	<string>0x282A2E</string>
	<key>headerViewColor</key>
	<string>0x202226</string>
	<key>黑色</key>
	<string></string>
	<key>garyLabel.text</key>
	<string>0xCED7E8</string>
	<key>lineViewColor</key>
	<string>0x8A8F99</string>
	<key>self.view.back</key>
	<string>0x282A2E</string>
	<key>buttonBack</key>
	<string>0x77A4FF</string>
	<key>textColor</key>
	<string>0xFFFFFF</string>
	<key>tableview.back</key>
	<string>0x282A2E</string>
	<key>cell.back</key>
	<string>0x282A2E</string>
	<key>tabbar.color</key>
	<string>0x52565D</string>
	<key>cell.backView.Color</key>
	<string>0x52565D</string>
</dict>
</plist>
