<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tableview.back2</key>
	<string></string>
	<key>leftNumberView</key>
	<string>0xF0F0F0</string>
	<key>FlashAgainstConversionColor</key>
	<string>0xF1F4FC</string>
	<key>selectbuttoncolor</key>
	<string>0x6F99EC</string>
	<key>tabbarcolor</key>
	<string>0x282A2E</string>
	<key>tabbarselectcolor</key>
	<string>#6F99EC</string>
	<key>whiteblackColor</key>
	<string>0xFFFFFF</string>
	<key>headerViewColor</key>
	<string>0xF5F5F5</string>
	<key>garyLabel.text</key>
	<string>0x999999</string>
	<key>lineViewColor</key>
	<string>0xEEEEEE</string>
	<key>白色</key>
	<string></string>
	<key>self.view.back</key>
	<string>0xf8f8f8</string>
	<key>buttonBack</key>
	<string>0x77A4FF</string>
	<key>textColor</key>
	<string>0x282A2E</string>
	<key>tableview.back</key>
	<string>0xf8f8f8</string>
	<key>cell.back</key>
	<string>0xf8f8f8</string>
	<key>tabbar.color</key>
	<string>0xFFFFFF</string>
	<key>cell.backView.Color</key>
	<string>0xFFFFFF</string>
</dict>
</plist>
